/* ==== COMMON START====*/

/*-FONTS-*/

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    src: url('../fonts/Georgia.woff');
}

@font-face {
    font-family: 'Arial';
    font-style: normal;
    src: url("../fonts/Arial.woff");
}

/*-COLOR-*/

$bg-color: #ffffff;
$light-l: #f6f6f6;
$light-s: #fafafa;
$primary-color: #f1cdb3;
$primary-light: #fddcc4;
$text-color: #000;
$dark-s: #cdcdcd;
$link-nav-color: #010201;
$dark-3xl: #292929;
$dark-i: #545454;
$dark-m: #b2b2b2;

/*-BREACKPOINTS-*/

$tablet: 768px;
$mobile: 379px;

/*-MIXINS-*/

@mixin georgia($fw: 400) {
    font-family: 'Georgia', sans-serif;
    font-weight: $fw;
}

@mixin arial($fw: 400) {
    font-family: 'Arial';
    font-weight: $fw;
}

@mixin hover() {
    background: $primary-light;
    border: 2px solid $primary-light;

    svg {
        fill: $dark-3xl;
    }
}


/*-BLOCK-*/
*, p, h1, h2 {
    margin: 0;
    padding: 0;
    list-style: none;
}

head {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;

    &:visited {
        color: inherit;
    }
}

button {
    cursor: pointer;
}
  
nav, header, section, footer {
    border: 0;
}
  
html {
    scroll-behavior: smooth; 
    box-sizing: border-box;
}
  
html, body {
    overflow-x: hidden;
}
.wrapper {
    max-width: 1280px;
    padding: 0 30px;
    margin: 0 auto;

    @media screen and (max-width: $tablet) {
        max-width: $tablet;
    }
}

h1 {
    @include georgia($fw: 400);
    font-style: normal;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 0.06em;
}

h2 {
    @include georgia($fw: 400);
    font-style: normal;
    font-size: 44px;
    line-height: 130%;
}
  
h3 {
    @include georgia($fw: 400);
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: .06em;
    margin-block-start: 0;
    margin-block-end: 0;
    color: $dark-i;
}

h4 {
    @include georgia($fw: 400);
    font-size: 20px;
    line-height: 23px;
    letter-spacing: .06em;
}

h5 {
    @include georgia($fw: 400);
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: .06em;
}

p {
    font-family: 'Arial';    
}

:hover {
    transition: .3s;
}

/* ==== COMMON END====*/
/* ==== HEADER START====*/
.header {
    width: 100%;
    background: url(./img/noise_transparent@2x.png), radial-gradient(farthest-corner at 1% 12%,
    #5b483a,
    #262425 80%);
    margin: 0 auto;

    @media screen and (max-width: $tablet) {
        width: $tablet;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
}

.head__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 90px;

    @media screen and (max-width: $tablet) {
        width: 708px;
        align-self: center;
        padding-top: 30px;
        margin-bottom: 60px;
    }
}

.pets-head__wrapper {
    margin: 0 auto;
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 30px;

    @media screen and (max-width: $tablet) {
        width: 708px;
    }
}

.header__logo-primary {
    @include georgia($fw: 400);
    height: 35px;
    color: $primary-color;  
    margin-bottom: 10px;  
}

.header__logo-desc {
    height: 15px;
    @include arial($fw: 400);
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
    color: $bg-color;
}

.header__nav {
    width: 443px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header__nav-item {
    color: $dark-s;
    height: 27px;
    font-family: 'Arial';
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $light-s;
    }

    &:active {
        border-bottom: 3px solid $primary-color;
    }

    &:first-child {
        color: $bg-color;
    }
}

.active {
    display: inline-block;
    color: inherit;
    border-bottom: 3px solid $primary-color;
}


.start-screen {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $tablet) {
        flex-direction: column;
        align-self: center;
    }
}

.start-screen__content {
    width: 460px;
    height: 322px;
    margin-top: 163px;
    margin-right: 42px;

    @media screen and (max-width: $tablet) {
        width: 460px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 100px;
    }
}

.start-screen__content-header {
    width: 310px;
    color: $bg-color;
    margin-bottom: 42px;
}

.start-screen__content-desc {
    @include arial($fw: 400);
    font-size: 15px;
    line-height: 24px;
    color: $dark-s;
    margin-bottom: 42px;
}

.start-screen-img {
    width: 698px;

    @media screen and (max-width: $tablet) {
        width: 569px;
        margin-left: 70px;
    }
}

.start-screen__content-button {
    width: 207px;
    height: 52px;
    background: $primary-color;
    border: 0;
    border-radius: 100px;
    @include georgia($fw: 400);
    color: $dark-3xl;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1px;

    &:hover,:focus,:active {
        background: $primary-light;
    }

    @media screen and (max-width: $tablet) {
        justify-self: center;
        align-self: center;
    }
}

/* = PETS HEADER START=*/

.pets-header__logo-primary {
    @include georgia($fw: 400);
    color: $dark-i;
    margin-bottom: 10px;
}

.pets-header__logo-desc {
    @include arial($fw: 400);
    line-height: 15px;
    letter-spacing: .1em;
    font-size: 13px;
    color: $dark-3xl;
}

.pets-header__nav-item {
    @include arial($fw: 400);
    font-size: 15px;
    line-height: 160%;
    color: $dark-i;
    cursor: pointer;

    &:active {
        border-bottom: 3px solid $primary-color;
    }

    &:first-child {
        color: $dark-3xl;
    }
}

.pets-head__wrapper {

    .pets-header__nav-item {
        color: $dark-i;

        &:hover {
            color: $dark-3xl;
        }
    }
}

/* = PETS HEADER END=*/

/* ==== HEADER END====*/

/* ==== MAIN START====*/

/* - ABOUT START - */
.about__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin: 80px 40px 100px;

    @media screen and (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 80px;
    }
}

.about-image {
    width: 300px;

    @media screen and (max-width: $tablet) {
        order: 1;
        margin-left: 0;
    }
}

.about__content {
    width: 430px;
    height: 380px;
    margin-top: 14px;

    @media screen and (max-width: $tablet) {
        margin: 0;
    }
}

.about__content-header {
    width: 370px;
    height: 90px;
    color: $dark-i;
    margin-bottom: 25px;
}

.about__content-descr {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 25px;   
    
    &:last-child {
        margin-bottom: 0px;
    }
}


/* - ABOUT END- */

/* - PETS START - */
.pets {
    background: $light-l;
}

.pets__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 80px;
    padding-bottom: 100px;
}

.pets-header {
    text-align: center;
}

.pets-slider-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 53px;

    @media screen and (max-width: $tablet) {
        flex-wrap: nowrap;
        gap: 12px;
    }
}

.pets-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 90px;

    @media screen and (max-width: $tablet) {
        width: 581px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 40px;
        overflow: hidden;
    }
}

.slider-card {
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: $light-s;

    &:hover {
        background-color: $bg-color;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);;
    }

    &:hover>.card-button {
        background: $primary-light;
    }
}

.card-header {
    @include georgia($fw: 400);
    font-size: 20px;
    line-height: 22.72px;
    letter-spacing: .06em;
    color: $dark-i;
    text-align: center;
}

.card-img {
    width: 270px;
    background: $light-s;

    &:hover, :focus, :active {
        background: $light-s;
    }
}

.card-button {
    border: 2px solid $primary-color;
    border-radius: 100px;
    @include georgia($fw: 400);
    font-size: 17px;
    line-height: 22px;
    letter-spacing: .06em;
    color: $dark-3xl;
    padding: 15px 45px;
    margin-bottom: 30px;
    align-self: center;
    background-color: $light-s;

    &:hover,:focus,:active {
        background: $primary-light;
    }
}

.prev-button {
    width: 52px;
    height: 52px;
    background: url(./img/Arrow-back.svg) no-repeat center; // Вынести в html
    border: 2px solid $primary-color;
    border-radius: 50%;
    padding: 19px 23px;

    &:hover,:focus,:active {
        background: url(./img/Arrow-back.svg) no-repeat center $primary-light;
    }

    @media screen and (max-width: $tablet) {
        margin-right: 12px;
    }
}

.next-button {
    width: 52px;
    height: 52px;
    background: url(./img/Arrow-forward.svg) no-repeat center; // Вынести в html
    border: 2px solid $primary-color;
    border-radius: 50%;
    padding: 19px 23px;

    &:hover,:focus,:active {
        background: url(./img/Arrow-forward.svg) no-repeat center $primary-light;
    }

    @media screen and (max-width: $tablet) {
        margin-left: 12px;
    }
}


.pets-button {
    width: 261px;
    height: 52px;
    background: $primary-color;
    border: 0;
    border-radius: 100px;
    @include georgia($fw: 400);
    color: $dark-3xl;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1px;

    &:hover,:focus,:active {
        background: $primary-light;
    }
}

/*=OUR-PETS-START=*/

.our-pets-slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $tablet) {
        margin-top: -30px;
    }

    .pets-slider {
        gap: 40px 30px;

        @media screen and (max-width: $tablet) {
            justify-content: space-between;
            flex-wrap: wrap;
            height: 1365px;
            row-gap: 30px;
        }
    }
}

.our-pets__pagination-wrapper {
    margin: auto;
    margin: -60px 184px 0;
    padding-bottom: 76px;
    display: flex;
    justify-content: space-between;
}

.button-pagianion-first {
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    background: $light-l;
    border: 2px solid $primary-color;
    border-radius: 50%;

    svg {
        fill: $dark-3xl;
    }

    &:hover,:focus,:active {
        @include hover();
    }
}

.button-pagianion-previous {
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    background: $light-l;
    border: 2px solid $primary-color;
    border-radius: 50%;

    svg {
        fill: $dark-3xl;
    }

    &:hover,:focus,:active {
        @include hover();
    }
}

.button-pagianion-page {
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    background: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 50%;
}

.button-pagianion-next {
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    background: $light-l;
    border: 2px solid $primary-color;
    border-radius: 50%;
    rotate: 180deg;

    svg {
        fill: $dark-3xl;        
    }

    &:hover,:focus,:active {
        @include hover();
    }
}

.button-pagianion-last {
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    background: $light-l;
    border: 2px solid $primary-color;
    border-radius: 50%;
    rotate: 180deg;

    svg {
        fill: $dark-3xl;        
    }

    &:hover,:focus,:active {
        @include hover();
    }
}


.disabled {
    border: 2px solid $dark-s;

    svg {
        fill: $dark-s;
    }    
}

/*=OUR-PETS-END=*/

/* - PETS END- */

/* - HELP START - */
.help__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 80px;
    padding-bottom: 100px;
}

.help-header {
    max-width: 315px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.help-icons-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px 120px;

    @media screen and (max-width: $tablet) {
        width: 630px;
        height: 449px;
        column-gap: 60px;
    }
}

.icons-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (max-width: $tablet) {
        width: 170px;
    }
}

.icons-img {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.icons-header {
    text-align: center;
}
/* - HELP END- */

/* - DONATION START - */
.donation {
    background: $light-l;
}

.donation__wrapper {
    margin-left: 182px;
    margin-right: 182px;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $tablet) {
        flex-direction: column;
    }
}

.donation-img {

    @media screen and (max-width: $tablet) {
        width: 505px;
        order: 1;
        margin-right: 0;
        margin-top: 60px;
    }
}

.donation-content-header {
    width: 300px;
    text-align: left;
    margin-bottom: 20px;
}

.donation-content-descr {
    margin-bottom: 20px;
}

.donation-content-credit-card {
    width: 349px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: $primary-color;
    border-radius: 9px;
    padding: 10px 0;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover, :focus, :active {
        background: $primary-light;
    }
}

.legal-inform {
    width: 380px;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: $dark-m;
}
/* - DONATION END- */

/* ==== MAIN END====*/

/* ==== FOOTER START====*/
.footer {
    background: url(./img/noise_transparent@2x.png), 
    radial-gradient(farthest-corner at 1% 99%,
    #513d2f 0%,
    #1a1a1c 100%), #211f20;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-right: 34px;
    margin-left: 34px;

    @media screen and (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 65px;
}

.footer-for-question-wrapper {
    display: flex;
    gap: 160px;

    @media screen and (max-width: $tablet) {
        height: 234px;
        gap: 60px;
        margin-top: 30px;
        margin-bottom: 65px;
    }
}

.footer-for-question {
    width: 278px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;

    @media screen and (max-width: $tablet) {
        margin-bottom: 0;
    }
}

.foter-we-are-waiting {
    width: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;

    @media screen and (max-width: $tablet) {
        margin-bottom: 0;
    }
}

.h3-footer {
    letter-spacing: 0.05em;
    color: $bg-color;
    margin-top: 16px;

    @media screen and (max-width: $tablet) {
        margin-top: 0;
    }
}

.footer-contacts {
    @media screen and (max-width: $tablet) {
        margin-top: 40px;
        margin-bottom: 40px;

        &:last-child {
            margin-top: 0px;
            margin-bottom: 0;
        }
    }
}

.footer-text {
    display: flex;
    align-items: center;
    color: $primary-color;

    &:hover {
        color: $primary-light;
    }
}

.footer-email {
    width: 40px;
    margin-right: 20px;
}

.footer-phone {
    width: 40px;
    margin-right: 20px;
}

.footer-adress {
    @media screen and (max-width: $tablet) {
        margin-top: 33px;
        margin-bottom: 33px;

        &:last-child {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.adress-icon {
    width: 22px;
    margin-right: 20px;
}

.footer-img {
    @media screen and (max-width: $tablet) {
        width: 300px;
        order: 1;
    }
}

/* ==== FOOTER END====*/
