/* ==== COMMON START====*/
/*-FONTS-*/
@font-face {
  font-family: "Georgia";
  font-style: normal;
  src: url("../fonts/Georgia.woff");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  src: url("../fonts/Arial.woff");
}
/*-COLOR-*/
/*-BREACKPOINTS-*/
/*-MIXINS-*/
/*-BLOCK-*/
*, p, h1, h2 {
  margin: 0;
  padding: 0;
  list-style: none;
}

head {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
a:visited {
  color: inherit;
}

button {
  cursor: pointer;
}

nav, header, section, footer {
  border: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1280px;
  padding: 0 30px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}

h1 {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: 0.06em;
}

h2 {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 130%;
}

h3 {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  color: #545454;
}

h4 {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

h5 {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.06em;
}

p {
  font-family: "Arial";
}

:hover {
  transition: 0.5s;
}

/* ==== COMMON END====*/
/* ==== HEADER START====*/
.header {
  width: 100%;
  background: url(./img/noise_transparent@2x.png), radial-gradient(farthest-corner at 1% 12%, #5b483a, #262425 80%);
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .header {
    width: 768px;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}

.head__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .head__wrapper {
    width: 708px;
    align-self: center;
    padding-top: 30px;
    margin-bottom: 60px;
  }
}

.pets-head__wrapper {
  margin: 0 auto;
  width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .pets-head__wrapper {
    width: 708px;
  }
}

.header__logo-primary {
  height: 35px;
  color: #f1cdb3;
  margin-bottom: 10px;
}

.header__logo-desc {
  height: 15px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.4px;
  color: #ffffff;
}

.header__nav {
  width: 443px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header__nav-item {
  color: #cdcdcd;
  height: 27px;
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}
.header__nav-item:hover {
  color: #fafafa;
}
.header__nav-item:active {
  border-bottom: 3px solid #f1cdb3;
}
.header__nav-item:first-child {
  color: #ffffff;
}

.active {
  display: inline-block;
  color: inherit;
  border-bottom: 3px solid #f1cdb3;
}

.start-screen {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .start-screen {
    flex-direction: column;
    align-self: center;
  }
}

.start-screen__content {
  width: 460px;
  height: 322px;
  margin-top: 163px;
  margin-right: 42px;
}
@media screen and (max-width: 768px) {
  .start-screen__content {
    width: 460px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}

.start-screen__content-header {
  width: 310px;
  color: #ffffff;
  margin-bottom: 42px;
}

.start-screen__content-desc {
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
  margin-bottom: 42px;
}

.start-screen-img {
  width: 698px;
}
@media screen and (max-width: 768px) {
  .start-screen-img {
    width: 569px;
    margin-left: 70px;
  }
}

.start-screen__content-button {
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border: 0;
  border-radius: 100px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  color: #292929;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 1px;
}
.start-screen__content-button:hover, .start-screen__content-button :focus, .start-screen__content-button :active {
  background: #fddcc4;
}
@media screen and (max-width: 768px) {
  .start-screen__content-button {
    justify-self: center;
    align-self: center;
  }
}

/* = PETS HEADER START=*/
.pets-header__logo-primary {
  color: #545454;
  margin-bottom: 10px;
}

.pets-header__logo-desc {
  color: #292929;
}

.pets-header__nav-item {
  height: 27px;
  color: #545454;
  cursor: pointer;
}
.pets-header__nav-item:nth-child(2), .pets-header__nav-item :active {
  color: #292929;
}

.pets-head__wrapper .pets-header__nav-item {
  color: #545454;
}
.pets-head__wrapper .pets-header__nav-item:hover {
  color: #292929;
}

/* = PETS HEADER END=*/
/* ==== HEADER END====*/
/* ==== MAIN START====*/
/* - ABOUT START - */
.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin: 80px 40px 100px;
}
@media screen and (max-width: 768px) {
  .about__wrapper {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}

.about-image {
  width: 300px;
}
@media screen and (max-width: 768px) {
  .about-image {
    order: 1;
    margin-top: 80px;
    margin-left: 0;
  }
}

.about__content {
  width: 430px;
  height: 380px;
  margin-top: 14px;
}
@media screen and (max-width: 768px) {
  .about__content {
    margin: 0;
  }
}

.about__content-header {
  width: 370px;
  height: 90px;
  color: #545454;
  margin-bottom: 25px;
}

.about__content-descr {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
}
.about__content-descr:last-child {
  margin-bottom: 0px;
}

/* - ABOUT END- */
/* - PETS START - */
.pets {
  background: #f6f6f6;
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets-header {
  width: 400px;
  height: 90px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .pets-header {
    margin-bottom: 60px;
  }
}

.pets-slider-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 53px;
  padding: 60px 0;
}
@media screen and (max-width: 768px) {
  .pets-slider-wrapper {
    width: 708px;
    overflow: hidden;
  }
}

.pets-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
@media screen and (max-width: 768px) {
  .pets-slider {
    width: 708px;
    flex-wrap: nowrap;
    overflow: hidden;
  }
}

.slider-card {
  width: 270px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-card:hover {
  cursor: pointer;
}
.slider-card:hover > .card-button {
  background: #fddcc4;
}

.card-header {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.1px;
  letter-spacing: 1.9px;
  color: #545454;
  text-align: center;
  margin-bottom: 30px;
}

.card-img {
  width: 270px;
  margin-bottom: 30px;
}
.card-img:hover, .card-img :focus, .card-img :active {
  background: #fafafa;
}

.card-button {
  width: 187px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 1.9px;
  color: #292929;
  padding: 13px 0px;
  margin-bottom: 30px;
  align-self: center;
}
.card-button:hover, .card-button :focus, .card-button :active {
  background: #fddcc4;
}

.prev-button {
  width: 52px;
  height: 52px;
  background: url(./img/Arrow-back.svg) no-repeat center;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  padding: 19px 23px;
}
.prev-button:hover, .prev-button :focus, .prev-button :active {
  background: url(./img/Arrow-back.svg) no-repeat center #fddcc4;
}
@media screen and (max-width: 768px) {
  .prev-button {
    margin-right: 12px;
  }
}

.next-button {
  width: 52px;
  height: 52px;
  background: url(./img/Arrow-forward.svg) no-repeat center;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  padding: 19px 23px;
}
.next-button:hover, .next-button :focus, .next-button :active {
  background: url(./img/Arrow-forward.svg) no-repeat center #fddcc4;
}
@media screen and (max-width: 768px) {
  .next-button {
    margin-left: 12px;
  }
}

.pets-button {
  width: 261px;
  height: 52px;
  background: #f1cdb3;
  border: 0;
  border-radius: 100px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  color: #292929;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 1px;
}
.pets-button:hover, .pets-button :focus, .pets-button :active {
  background: #fddcc4;
}
@media screen and (max-width: 768px) {
  .pets-button {
    margin-bottom: 100px;
  }
}

/*=OUR-PETS-START=*/
.our-pets-slider-wrapper {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .our-pets-slider-wrapper {
    width: 580px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .our-pets-slider-wrapper .pets-slider {
    flex-wrap: wrap;
    height: 1365px;
    row-gap: 30px;
  }
}

.our-pets__pagination-wrapper {
  margin: 0 auto;
  width: 340px;
  display: flex;
  justify-content: space-between;
}

.button-pagianion-first {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  background: #f6f6f6;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
}
.button-pagianion-first svg {
  fill: #292929;
}
.button-pagianion-first:hover, .button-pagianion-first :focus, .button-pagianion-first :active {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}
.button-pagianion-first:hover svg, .button-pagianion-first :focus svg, .button-pagianion-first :active svg {
  fill: #292929;
}

.button-pagianion-previous {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  background: #f6f6f6;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
}
.button-pagianion-previous svg {
  fill: #292929;
}
.button-pagianion-previous:hover, .button-pagianion-previous :focus, .button-pagianion-previous :active {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}
.button-pagianion-previous:hover svg, .button-pagianion-previous :focus svg, .button-pagianion-previous :active svg {
  fill: #292929;
}

.button-pagianion-page {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  background: #f1cdb3;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
}

.button-pagianion-next {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  background: #f6f6f6;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  rotate: 180deg;
}
.button-pagianion-next svg {
  fill: #292929;
}
.button-pagianion-next:hover, .button-pagianion-next :focus, .button-pagianion-next :active {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}
.button-pagianion-next:hover svg, .button-pagianion-next :focus svg, .button-pagianion-next :active svg {
  fill: #292929;
}

.button-pagianion-last {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  background: #f6f6f6;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  rotate: 180deg;
}
.button-pagianion-last svg {
  fill: #292929;
}
.button-pagianion-last:hover, .button-pagianion-last :focus, .button-pagianion-last :active {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}
.button-pagianion-last:hover svg, .button-pagianion-last :focus svg, .button-pagianion-last :active svg {
  fill: #292929;
}

.disabled {
  border: 2px solid #cdcdcd;
}
.disabled svg {
  fill: #cdcdcd;
}

/*=OUR-PETS-END=*/
/* - PETS END- */
/* - HELP START - */
.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.help-header {
  max-width: 315px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.help-icons-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 120px;
}
@media screen and (max-width: 768px) {
  .help-icons-wrapper {
    width: 630px;
    height: 449px;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}

.icons-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.icons-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .icons-item {
    width: 170px;
  }
}

.icons-img {
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.icons-header {
  text-align: center;
}

/* - HELP END- */
/* - DONATION START - */
.donation {
  background: #f6f6f6;
}

.donation__wrapper {
  margin-left: 182px;
  margin-right: 182px;
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .donation__wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .donation-img {
    width: 505px;
    order: 1;
    margin-right: 0;
    margin-top: 60px;
  }
}

.donation-content-header {
  width: 300px;
  text-align: left;
  margin-bottom: 20px;
}

.donation-content-descr {
  margin-bottom: 20px;
}

.donation-content-credit-card {
  width: 349px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #f1cdb3;
  border-radius: 9px;
  padding: 10px 0;
  margin-bottom: 20px;
  cursor: pointer;
}
.donation-content-credit-card:hover, .donation-content-credit-card :focus, .donation-content-credit-card :active {
  background: #fddcc4;
}

.legal-inform {
  width: 380px;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

/* - DONATION END- */
/* ==== MAIN END====*/
/* ==== FOOTER START====*/
.footer {
  background: url(./img/noise_transparent@2x.png), radial-gradient(farthest-corner at 1% 99%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
}

.footer-for-question-wrapper {
  display: flex;
  gap: 160px;
}
@media screen and (max-width: 768px) {
  .footer-for-question-wrapper {
    height: 234px;
    gap: 60px;
    margin-top: 30px;
    margin-bottom: 65px;
  }
}

.footer-for-question {
  width: 278px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .footer-for-question {
    margin-bottom: 0;
  }
}

.foter-we-are-waiting {
  width: 302px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .foter-we-are-waiting {
    margin-bottom: 0;
  }
}

.h3-footer {
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  .h3-footer {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer-contacts {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .footer-contacts:last-child {
    margin-top: 0px;
    margin-bottom: 0;
  }
}

.footer-text {
  display: flex;
  align-items: center;
  color: #f1cdb3;
}
.footer-text:hover {
  color: #fddcc4;
}

.footer-email {
  width: 40px;
  margin-right: 20px;
}

.footer-phone {
  width: 40px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .footer-adress {
    margin-top: 33px;
    margin-bottom: 33px;
  }
  .footer-adress:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.adress-icon {
  width: 22px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .footer-img {
    width: 300px;
  }
}

/* ==== FOOTER END====*//*# sourceMappingURL=style.css.map */